uvicorn==0.25.0
fastapi[standard]==0.115.14
fastapi_restful==0.6.0
typing-inspect==0.9.0
pydantic_settings==2.10.1
cryptography
requests==2.32.4
pandas==2.3.1
datetime==5.5
git+https://github.com/raizen-energy/raizen-power-trading-libs-middle.git
beautifulsoup4==4.13.4
fastapi_cognito==2.8.0