beautifulsoup4
bs4
certifi
cfinterface
charset-normalizer
contourpy
cycler
dateutils
dotenv
fonttools
frozendict
idna
inewave @ git+https://github.com/wx-middle/inewave.git
kiwisolver
matplotlib
middle @ git+https://github.com/wx-middle/libs-middle.git
numpy
packaging
pandas
pdf2image
pillow
pyparsing
python-dateutil
python-dotenv
pytz
requests
requests-toolbelt
six
soupsieve
tabulate
typing_extensions
tzdata
urllib3
lxml
